@import url(http://fonts.googleapis.com/css?family=Oxygen:400,300,700);

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  font-family: 'Oxygen', sans-serif;
  font-size: 14px;
  height: 100%; 
  /* The html and body elements cannot have any padding or margin. */
}


/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
}

#wrap > .container {
  padding: 60px 15px 0;
}

.container .credit {
  margin: 20px 0;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}

.sidebar-nav {
    padding: 9px 0;
}